body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.5em;
  padding-left: 0.7em;
  margin-top: 0;
  padding-bottom: 0.4em;
}

a {
  text-decoration: none;
  color: #cd60ff;
}

.twoot {
  border-radius: 25px;
  background: #cd60ff;
  padding: 1em;
  padding-top: 0.3em;
  margin: 1em;
  margin-left: 0em; 
  width: 40em;
  color: white;
}